<section class="vh-100 gradient-custom">
  <div class="container  h-150">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-10">
        <div class="card shadow-2-strong card-registration border-primary" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <%= form_with(model: movie) do |form| %>
              <% if movie.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

                  <ul>
                    <% movie.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= form.label :Sample_video,class:"form-label"  %>
                <%= form.file_field :Sample_video, accept: 'video/mp4,video/mpeg',class:"form-control form-control-lg border-primary" %>
              </div>

              <div class="field">
                <%= form.label :Name,class:"form-label"  %>
                <%= form.text_field :Name,class:"form-control form-control-lg border-primary" %>
              </div>

              <div class="field">
                <%= form.label :release_date,class:"form-label"  %>
                <%= form.date_select :release_date,class:"form-control form-control-lg border-primary" %>
              </div>

              <div class="actions text-center">
                <%= button_tag "Movie", class: "btn btn-outline-primary btn-lg px-5", type: "submit" %>
              </div>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
